[Unit]
Description=Blueman Applet
Requires=wm.target
After=wm.target

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=on-abort

[Install]
WantedBy=wm.target
