[Unit]
Description=Grive Service
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=%h/bin/griveRun

[Install]
WantedBy=exit.target
