[Unit]
Description=Space as mod for i3
Requires=wm.target
After=wm.target xkeyboard.service

[Service]
Type=oneshot
ExecStart=%h/.config/Scripts/input/i3-spacemod.sh
RemainAfterExit=yes

[Install]
WantedBy=xkeyboard.service
RequiredBy=xcape.target
