[Unit]
Description=Light Locker
Requires=wm.target
After=wm.target

[Service]
ExecStart=/usr/bin/light-locker
Restart=on-abort

[Install]
WantedBy=wm.target
