[Unit]
Description=Network Wait Online
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-online -q --timeout=30
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
