[Unit]
Description=Touchpad Mappings
Requires=wm.target
After=wm.target

[Service]
ExecStart=%h/.config/Scripts/input/touchpad.sh
Restart=always

[Install]
WantedBy=wm.target
