[Unit]
Description=Touchegg
Requires=wm.target
After=wm.target

[Service]
ExecStart=/usr/bin/bash -c '/usr/bin/touchegg 2>/dev/null'
Restart=on-abort

[Install]
WantedBy=wm.target
