[Unit]
Description=Wallpaper Looper
After=graphical.target

[Service]
ExecStart=%h/bin/systemd-bin/wall_looper.sh %h/Media/Pictures/i3/bg/ 600

[Install]
