[Unit]
Description=Wallpaper Looper
PartOf=graphical-session.target

[Service]
ExecStart=/bin/bash -c '%h/bin/systemd-bin/wall_looper.sh %h/Media/Pictures/i3/bg/ 600'

[Install]
WantedBy=default.target
