[Unit]
Description=Keyboard Mappings
Requires=wm.target
After=wm.target

[Service]
Type=oneshot
ExecStart=%h/.config/Scripts/input/keyboard.sh
RemainAfterExit=yes

[Install]
WantedBy=wm.target
RequiredBy=xcape.target
