[Unit]
Description=Network Manager Applet
Requires=wm.target
After=wm.target

[Service]
ExecStart=/usr/bin/nm-applet
Restart=on-abort

[Install]
WantedBy=wm.target
