[Unit]
Description=Notification Daemon
Requires=wm.target
After=wm.target

[Service]
ExecStart=/usr/bin/twmnd
Restart=on-abort

[Install]
WantedBy=wm.target
